	body {  
	background:url(images/background.jpg);
	background-position:center;
	background-attachment:fixed;
	-webkit-background-size: auto 100%, auto;
	background-size: auto 100%, auto;
	}
	
		a.button {
		  font-weight: 700;
		  color: white;
		  text-decoration: none;
		  padding: .8em 1em calc(.8em + 3px);
		  border-radius: 5px;
		  background: rgb(64,199,129);
		  box-shadow: 0 -3px rgb(53,167,110) inset;
		} 
		a.button:hover { background: rgb(53, 167, 110); }
		a.button:active {
		  background: rgb(33,147,90);
		  box-shadow: 0 3px rgb(33,147,90) inset;
		}

			h1 {color: white; font-size:36px}
			h2 {color: white; font-size:24px}
			h3 {color: white; font-size:36px; margin:50px;}
			p {color: white; font-size:40px; }
			.alignment{text-align: center;}
			
			
			input[name="number"] {
			   border: 1px solid #cccccc; 
			   border-radius: 3px; 
			   -webkit-border-radius: 3px; 
			   -moz-border-radius: 3px; 
			   -khtml-border-radius: 3px; 
			   background: #ffffff; 
			   outline: none; 
			   height: 36px;
			   width: 280px; 
			   color: #aaaaaaa; 
			   font-size: 20px;
			   margin:40px auto;
			   }
			
			.select-style select {
				border-radius: 20;
				background: write;
				border-radius: 3px; 
				-webkit-border-radius: 3px; 
				-moz-border-radius: 3px; 
				-khtml-border-radius: 3px; 
				height: 25px;
				padding: 1px;
				border: 0;
				font-size: 20px;
				line-height: 3;
				width: 50px;
				}