body {  
background:url(images/background.jpg);
background-position:center;
background-attachment:fixed;
-webkit-background-size: auto 100%, auto;
background-size: auto 100%, auto;
}
	
	@font-face {
	font-family: Font;
	src: url(font.ttf); 
	}

	a {color:white; font-weight: bold;}
	h1 {font-family: Font, 'Comic Sans MS', cursive;
	color: white; font-size:36px; text-align: center
	}
	h2 {color: white; font-size:24px}
	p {color: white; font-size:20px}
	
	input:invalid + span::after {
	position: inherit;
	content: ' ✘';
	color: red;
	}
	
	input:valid + span::after {
	position: inherit;
	content: ' ✓';
	color: green;
	}
	
	input{
    background: white; 
    border: 1px double #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #333; 
    color: #666; 
    outline: none; 
    height:25px; 
    width: 223px; 
	font-size:20px
	} 

		.shape {
		margin:0 auto;
		clear:both;
		text-align:right; 
		line-height:36px;
		}
		
		label {
		color: white; 
		float:center; 
		padding-right:10px;
		font-size: 200%;
		width: 200px;
		font-family: Pompadur, 'Comic Sans MS', cursive;
		}
		
		.main {
		margin:0 auto; 
		left: 50%;
		margin-left: -50%;
		position: absolute;
		width: 70%;
		}
