	body {  
	background:url(images/background.jpg);
	background-position:center;
	background-attachment:fixed;
	-webkit-background-size: auto 100%, auto;
	background-size: auto 100%, auto;
	text-align: center;
	}
	
	@font-face {
		font-family: Font;
		src: url(Font.ttf);
    }
	
	input{
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333; 
    color: #666;
    outline: none;
	margin-bottom: 44px;
    height: 25px;
    width: 50px;
	font-size:20px;
	text-align:center
  }
	
	.button{
	background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333; 
    color: #666;
    outline: none;
	margin-bottom: 44px;
    height: 25px;
    width: 200px;
	font-size:20px;
	}

	h1 {font-family: Font;
	color: #aaa; font-size:36px;}
	p {color: white; font-size:100px}
	